$header-padding: 8%;
#page-header {
  height: 60px;
  background: $color-blue;
  color: $color-white;
  overflow: hidden;
  
  .page-name {
    float: left;
    margin: 18px 0 0 $header-padding;
    font-size: 18px;
    font-weight: 100;
  }

  .timer {
    float: right;
    margin: 18px $header-padding 0 0;
    font-size: 18px;
    font-weight: 300;
    color: $color-red-var1;

    i {
      margin-right: 10px;
    }
  }
}
