#page-view {
  #numbers {
    display: block;
    float: left;
    min-height: 100px;
    width: 27%;
    border-radius: 3px;

    div:first-child {
      width: 100%;
      color: black;
      font-weight: 300;
      padding-top: 10px;
      min-height: 70px;
      font-size: 23px;

      span {
        display: block;
        padding: 8px 0;
        float: right;
        border-radius: 2px;
        font-size: 18px;
        margin: -6px 16% 0 0;
        width: 70px;
        overflow: hidden;
        text-align: center;
        color: white;
        background: $color-light-red;

        i {
          margin-right: 10px;
        }
      }
    }

    div:last-child {
      span {
        display: block;
        float: left;
        width: 35px;
        height: 26px;
        border-radius: 50%;
        overflow: hidden;
        background: $color-blue;
        color: $color-white;
        text-align: center;
        font-size: 15px;
        margin: 0 20px 20px 0;
        font-weight: 100;
        padding-top: 9px;
        border: 2px solid transparent;

        &.answered {
          color: $color-blue;
          background: $color-white;
          border-color: $color-blue;
        }
      }
    }
  }
}
