#page-view {
  #quiz-start {
    width: 72%;
    float: right;

    #about {
      @include gray-bg-div (
        block, auto,
        50px 5% 30px
      );
      text-align: left;

      p {
        margin-bottom: 20px;
        line-height: 180%;
        font-size: 17px;

        span {
          color: $color-red;
        }
      }
    }

    #control {
      margin-top: 60px;

      div {
        font-size: 30px;
        text-align: center;
        color: $color-blue;
        font-weight: 100;

        i {
          margin-right: 20px;
        }
      }

      button {
        @include blue-btn();
        display: block;
        margin: 60px auto 0;
        padding: 14px 60px;
      }
    }
  }
}
