$color-blue: #365ddc;
$color-white: white;
$color-red: red;
$color-light-red: #ff6565;
$color-red-var1: #DDA3A5;
$color-light-blue: #5394DA;
$color-green: green;
$color-black: black;
$color-light-black: #5C5C5C;
